.background_image{
	height:300px;
	background: url(../design2_image1.jpg);
	background-repeat: no-repeat;
	background-size:100%;
	width:100%;
	position: relative;
	margin-top: 65px;
}

.headline_1{
	top:-70px;
	left: 10px;
	line-height: 30px;
	
	position: absolute;
}
.headline_2{
	background-attachment: white;
	color:black;
	text-align: center;
	border:3px;
	border-color: black;
	border-style: solid;
	margin: -1px;
}
.menu{
	position: absolute;
	top: 50px;
	right: 40px;
}

.index{
	display:inline;
	padding: 10px;
	border-style: solid;
	border-color: black;
	border:5px;
	background-color: blue;
	color:white;
}

.color{
	background: green;

}

.nysl_logo{
width: 20%;
float:left;
margin-top: 20px;
}
.events{
	width:70%;
	float:left;
}
.about_text{
	width:70%;
	float:left;
}
.contact_nysl{
	width:70%;
	float:left;
}